@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400);

/* SIMPLE DEMO STYLES */
    body {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 12px;
      line-height: 1.6;
    }
    .container {
      margin: 50px;
      max-width: 700px;
    }
    .container img {
      width: 50%;
      float: left;
    }
    .container .pull-left {
      width: 55%;
      float: left;
      margin: 20px 20px 20px -80px;
    }
    .container .pull-right {
      width: 55%;
      float: right;
      margin: 20px -80px 20px 20px;
    }
    @media (min-width: 750px) {
      body {
        font-size: 16px;
        line-height: 1.6;
      }
      .container {
        margin: 100px auto;
      }
    }

.titles {
  text-align: center;
}

html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'nimbus-sans', 'Helvetica Neue', arial, sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 1.602em;
}

h2 {font-size: 1.424em;}

h3 {font-size: 1.266em;}

h4 {font-size: 1.125em;}

small, .font_small {font-size: 0.889em;}

.logo { font-weight: 700; }


/* layout */

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #536DFE;
}

.brand {
  display: block;
  background-image: url(../images/minigrid-logo.svg);
  background-repeat: no-repeat;
  background-position: center 0px;
  padding-top: 1.8em;
  background-size: 24px;
}

.info-bar {
  padding: 20px 12px;
  border-bottom: solid 1px #CFD8DC;
}

.foo {
  margin-top: calc(1.414em * 4);
  border-bottom: 0;
  border-top: solid 1px #CFD8DC;
}

.info-bar a {
  border-bottom: 0;
}

.info-bar .link {
  vertical-align: middle;
  display: inline-block;
  margin-right: 1em;
}

.info-bar .madeby {
  float: right;
  display: inline-block;
}

.hero {
  width: 100%;
  padding: calc(1.414em * 4) 0;
  text-align: center;
}

.content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 700px;
}

h1 {
  font-weight: 600;
}

h1 a {
  border-bottom: 0;
}

code {
  font-family: 'Source Code Pro', serif;
  font-size: 0.83em;
  font-weight: 400;
}

.copyright {
  padding: 50px 0;
}

.octocat-button {
  margin-top: 1em;
}

.octocat-button a {
  border-bottom: 0;
}

.icon-arrow {
  display: inline-block;
  margin-left: 2px;
  vertical-align: -1px;
}


.icon-headline {
  text-align: center;
  padding: calc(1.414em * 2) 0;
  background-repeat: no-repeat;
  background-position: center 1.614em;
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.diff .hljs-header {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #008080;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula {
  color: #d14;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold;
}

.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rule .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.hljs-name {
  color: #008080;
}

.hljs-regexp {
  color: #009926;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}
